/* ----------------------------------Meta Level */

/* Font Style Options */
/* @import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap'); */
/* @import url('https://fonts.googleapis.com/css?family=Arimo&display=swap'); */
/* @import url('https://fonts.googleapis.com/css?family=Karla&display=swap'); */
/* @import url('https://fonts.googleapis.com/css?family=Meddon&display=swap'); */
/* @import url('https://fonts.googleapis.com/css?family=MedievalSharp&display=swap'); */
/* @import url('https://fonts.googleapis.com/css?family=Patrick+Hand+SC&display=swap'); */

/* The Winners */
/* @import url('https://fonts.googleapis.com/css?family=Lora&display=swap'); */
/* @import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap'); */
@import url('https://fonts.googleapis.com/css?family=Gafata&display=swap');


body {
    font-family: 'Gatafa', sans-serif;
}

/* ----------------------------------The Header */

.jumbotron {
    position: relative;
    background-attachment: fixed;
    background-image: url('../images/dair-art.jpg');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    margin-bottom: 0px;
    /* z-index: 1; */
}

.gaeilge {
    text-decoration: none;
    color: #000000;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.gaeilge:hover {
    text-decoration: none;
    color: #A51723;
}

.music-container {
    text-align: center;
    padding: 0;
    margin-top: -20px;
}

.music-player {
    height: 40px;
}

.music-player-text {
    color: #A51723;
}

.cta {
    position: absolute;
    top: 92vh;
    text-align: center;
    background-color: white;
    color: #A51723;
    opacity: 0.8;
    position: scroll;
    height: 8vh;
    /* May not need these now */
    /* margin: 0; */
    /* margin-top: -10px; */
    /* height: 40px; */
}

.cta-text {
    padding-top: 10px;
    /* font-weight: 600; */
}

.cta-text p a {
    text-decoration: none;
    color: #329e11;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.cta-text p a:hover {
    text-decoration: none;
    color: #1b631f;
}

.banner-logo-container {
    padding: 0;
}

.banner-logo {
    width: 100%;
    height: auto;
}


/* ----------------------------------Navbar */

.nav-item {
    background-color: #D9D4BF;
    border: .5px solid #707070;
    border-radius: 5px;
}

.navbar .navbar-nav .nav-item a {
    color: #73715F;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.navbar .navbar-nav .nav-item a:hover {
    color: #A51723;
}


/* ----------------------------------The Section */

section {
    text-align: justify;
}

.section-container {
    /* border: 1px solid bisque; */
    /* padding: 20px; */
    background-color: #73715F;
}

.media {
    /* border: 1px solid bisque; */
    /* margin: 20px; */
    padding: 30px 20px 20px;
}

.media img {
    text-align: center;
    width: 25.5em;

}

section.news {
    background-color: #D9D4BF;
    /* border: 1px solid bisque; */
    padding: 30px;
}


/* ----------------------------------The Footer */

footer {
    padding-top: 15px;
    background-color: #CFCDBF;
}

.copyright-text {
    padding-top: 10px;
    color: #73715F;
    opacity: 0.8;
}

.social-media-links li a i {
    color: #73715F;
    background: #CFCDBF;
    line-height: 10px;
    padding: 15px 12px 0px;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.social-media-links li a i:hover {
    color: #A51723;
}


/* ----------------------------------Media Queries */

/* Heights */
@media (min-height: 1000px) {
    .cta-text {
        padding-top: 30px;
    }
}


/* Widths */
@media (min-width: 4000px) {
    .jumbotron {
        font-size: 3em;
    }
}

@media (min-width: 3000px) and (max-width: 3999px) {
    .jumbotron {
        font-size: 2.5em; 
    }
}

@media (min-width: 2000px) and (max-width: 2999px) {
    .jumbotron {
        font-size: 2em; 
    }
}

@media (min-width: 1500px) and (max-width: 1999px) {
    .jumbotron {
        font-size: 1.5em;        
    }
}

@media (min-width: 992px) and (max-width: 1499px) {
    .cta-text {
        font-size: 1.em;        
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .gaeilge {
        margin-right: -15px;
    }
    .music-container {
        margin-right: -20px;
    }
}

@media(min-width: 992px) {
    .navbar .navbar-nav .nav-item {
        margin-bottom: 70px;
    }
    .gaeilge-container {
        padding-top: 10px;
    }
}

@media(max-width: 991px) {
    .cta-text p span {
        display: none;
    }
}

@media(max-width: 767px) {
    .nav-item {
        border: none;
        border-radius: 0;
        background-color: none;
    }
    .copyright-text {
        padding-top: 0px;
    }
    .social-media-links li a i {
        font-size: 20px;
        padding: 7px 10px 10px;
    }
}

@media(max-width: 575px) {    
    .gaeilge {
        display: none;
    }
    .cta-text {
        font-size: 0.8em;
    }
    footer {
        /* height: 50px; Unsure if this is needed now*/
    }
    .social-media-links {
        text-align: center;
    }
    .social-media-links li a i {
        font-size: 20px;
        padding: 7px 10px 10px;
    }
}