/* ----------------------------------Meta Level */

/* Font Style Options */
/* @import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap'); */
/* @import url('https://fonts.googleapis.com/css?family=Arimo&display=swap'); */
/* @import url('https://fonts.googleapis.com/css?family=Karla&display=swap'); */
/* @import url('https://fonts.googleapis.com/css?family=Meddon&display=swap'); */
/* @import url('https://fonts.googleapis.com/css?family=MedievalSharp&display=swap'); */
/* @import url('https://fonts.googleapis.com/css?family=Patrick+Hand+SC&display=swap'); */

/* The Winners */
/* @import url('https://fonts.googleapis.com/css?family=Lora&display=swap'); */
/* @import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap'); */
@import url('https://fonts.googleapis.com/css?family=Gafata&display=swap');


body {
    font-family: 'Gafata', sans-serif;
    background-color: #CFCDBF;
}

h1,h2,h3,h4 {
    font-weight: 600;
}

/* ----------------------------------The Header */

.jumbotron {
    position: relative;
    background-attachment: fixed;
    background-image: url('../images/dair-art.jpg');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    margin-bottom: 0px;
    /* z-index: 1; */
}

.gaeilge {
    text-decoration: none;
    color: #000000;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.gaeilge:hover {
    text-decoration: none;
    color: #A51723;
}

.music-container {
    text-align: center;
    padding: 0;
    margin-top: -20px;
}

.music-player {
    height: 40px;
}

.music-player-text {
    color: #A51723;
    font-weight: 600;
}

.cta {
    position: absolute;
    top: 92vh;
    text-align: center;
    background-color: white;
    color: #A51723;
    opacity: 0.8;
    position: scroll;
    height: 8vh;
    /* May not need these now */
    /* margin: 0; */
    /* margin-top: -10px; */
    /* height: 40px; */
}

.cta-text {
    padding-top: 10px;
    font-weight: 600;
}

.cta-text p a {
    text-decoration: none;
    color: #329e11;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.cta-text p a:hover {
    text-decoration: none;
    color: #1b631f;
}

.banner-logo-container {
    padding: 0;
}

.banner-logo {
    width: 100%;
    height: auto;
}


/* ----------------------------------Navbar */

.nav-item {
    background-color: #D9D4BF;
    border: .5px solid #707070;
    border-radius: 5px;
}

.navbar .navbar-nav .nav-item a {
    color: #73715F;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.navbar .navbar-nav .nav-item a:hover {
    color: #A51723;
}


/* ----------------------------------The Section */

.section-container {
    display: block;
    text-align: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.section-container-row {
    margin: 0;
}

.media-container {
    margin: 0;
    padding: 0;
}

.media {
    background-color: #73715F;
    display: inline-table;
    float: right;
}

.media-heading h3 {
    color: #D9D4BF;
    text-align: left;
    margin-top: 1em;
    margin-left: 1em;
    margin-bottom: -.6em;
}

.media-card {
    display: block;
    margin: 12% auto;
    width: 80%;
    height: auto;
}

.media-card iframe {
    border-radius: 10px;
    width: 100%;
    border: none;
}

.iframe-text {
    color: #D9D4BF;
    padding-top: 0.7em;
}

.media-card img {
    border-radius: 10px;
}

.media-card-text {
    color: #D9D4BF;
    padding-top: 0.7em;
}

.news-container {
    width: 100%;
    padding: 0;
}

.news-heading {
    text-align: left;
    margin-top: 1.5em;
    margin-left: 1.5em;
}

.news {
    background-color: #D9D4BF;
    display: inline-table;
    float: left;
}

.news-card {
    background-color: #F2EED8;
    border-radius: 10px;
    display: block;
    margin: 6% auto;
    width: 85%;
    height: auto;
}

.news-card h4 {
    text-align: center;
    margin: 0 .4em;
    padding-top: 1em;
    padding-bottom: -1.2em; 
}

.news-card-text {
    text-align: justify;
    padding: 1.5em;
}


/* ----------------------------------The Footer */

footer {
    padding-top: 15px;
    background-color: #CFCDBF;
}

.copyright-text {
    padding-top: 10px;
    color: #73715F;
    opacity: 0.8;
}

.social-media-links li a i {
    color: #73715F;
    background: #CFCDBF;
    line-height: 10px;
    padding: 15px 12px 0px;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.social-media-links li a i:hover {
    color: #A51723;
}


/* ----------------------------------Media Queries */

/* ----------Heights */

@media (min-height: 1000px) {
    .cta-text {
        padding-top: 30px;
    }
}


/* ----------Widths */

/* ----------Larger Resolutions */

@media (min-width: 4000px) {
    body {
        font-size: 3em;
    }
    h1,h2,h3,h4 {
        font-size: 1.6em;
    }
    .media-card iframe {
        height: 18em;
    }
    .social-media-links li a i {
        margin-left: .8em;
    }
}

@media (min-width: 3000px) and (max-width: 3999px) {
    body {
        font-size: 2.5em; 
    }
    h1,h2,h3,h4 {
        font-size: 1.5em;
    }
    .music-container {
        margin-top: -0.9em;
    } 
    .music-player {
        height: 100px;
        width: 560px;
    }
    .media-card iframe {
        height: 18em;
    }
    .social-media-links li a i {
        margin-left: .6em;
    }
}

@media (min-width: 2000px) and (max-width: 2999px) {
    body {
        font-size: 2em; 
    }
    h1,h2,h3,h4 {
        font-size: 1.4em;
    }
    .music-player {
        height: 80px;
        width: 450px;
    }
    .media-card iframe {
        height: 15em;
    }
    .social-media-links li a i {
        margin-left: .5em;
    }
}

@media (min-width: 1500px) and (max-width: 1999px) {
    body {
        font-size: 1.5em;        
    }
    h1,h2,h3,h4 {
        font-size: 1.3em;
    }
    .music-container {
        padding-top: .5em;
    }
    .music-player {
        width: 360px;
    }
    .media-card iframe {
        height: 13em;
    }
    .social-media-links li a i {
        margin-left: .3em;
    }
}

@media (min-width: 992px) and (max-width: 1499px) {
    .cta-text {
        font-size: 1.2em;        
    }
    .media-card iframe {
        height: 15em;
    } 
}

@media (min-width: 992px) and (max-width: 1199px) {
    .gaeilge {
        margin-right: -15px;
    }
    .music-container {
        margin-right: -20px;
    }
}

/* ----------Smaller Resolutions */

@media(min-width: 992px) {
    .navbar .navbar-nav .nav-item {
        margin-bottom: 70px;
    }
    .gaeilge-container {
        padding-top: 10px;
    }
}

@media(max-width: 991px) {
    .cta-text p span {
        display: none;
    }
    .media-card iframe {
    height: 15em;
    }

}

@media(max-width: 767px) {
    .nav-item {
        border: none;
        border-radius: 0;
        background-color: none;
    }
    .media-card iframe {
        height: 15em;
    }
    .copyright-text {
        padding-top: 0px;
    }
    .social-media-links li a i {
        font-size: 20px;
        padding: 7px 10px 10px;
    }
}

@media(max-width: 575px) {    
    .gaeilge {
        display: none;
    }
    .cta-text {
        font-size: 0.8em;
    }
    .media-card iframe {
        height: 12em;
    }
    .social-media-links {
        text-align: center;
    }
    .social-media-links li a i {
        font-size: 20px;
        padding: 7px 10px 10px;
    }
}

@media(max-width: 340px) {
    .cta-text {
        font-size: 0.7em;
    }
}